<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
  <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="C:\Users\Lizzy\Documents\Programming Stuff\Ruby on Rails\Ship_Site\app\assets\stylesheets\dashboard.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="C:\Users\Lizzy\Documents\Programming Stuff\Ruby on Rails\Ship_Site\app\assets\stylesheets\cssfile.css" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="C:\Users\Lizzy\Documents\Programming Stuff\Ruby on Rails\Ship_Site\app\assets\javascripts\app.js"></script>
  <title>Fandoms and Stuff</title>
</head>
<body>
  <!--ADD ENDING BODY TAG-->
  <!-- <div class="nav">
    <ul id="left">
      <li><a href="home">Home</a>
      </li>
      <li><a href="#">About</a>
      </li>
      <li><a href="fandoms">Fandoms</a>
      </li>
    </ul>
    <ul id="right">
      <li class="dropdown">
        <a href="#" class="login">Log In</a>
        <ul class="dropdown-menu">
          <li><a href="testprofile">Test</a>
          </li>
          <li><a href="filtertest">Filter Test</a></li>
        </ul>
      </li>
      <li><a href="#">Register</a>
      </li>
    </ul>
  </div> -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li><a href="testprofile">Personal-ish Stuff</a></li>
          <li><a href="testprofileuploads">Uploads</a></li>
          <li><a href="#">Favorites</a></li>
     <!-- <li><a href="#">Export</a></li>-->
        </ul>
        <ul class="nav nav-sidebar">
          <li><a href="testprofileotps">OTPs</a></li>
          <li class="active"><a href="testprofilebrotps">BrOTPs<span class-"sr-only"><!--(current)--></span></a></li>
          <li><a href="">OT3s</a></li>
          <li><a href="">NOTP (Not no toilet paper)</a></li>
          <!-- <li><a href="">More navigation</a></li> -->
        </ul>
        <ul class="nav nav-sidebar">
          <li><a href="">Nav item again</a></li>
          <li><a href="">One more nav</a></li>
          <li><a href="">Another nav item</a></li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Fav Fandoms</h1>

        <div class="row placeholders">
          <div class="col-xs-6 col-sm-3 placeholder">
            <img src="C:\Users\Lizzy\Documents\Programming Stuff\Ruby on Rails\Ship_Site\app\assets\images\doctor who logo.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Doctor Who</h4>
            <!-- <span class="text-muted">Something else</span> -->
          </div>
          <div class="col-xs-6 col-sm-3 placeholder">
            <img src="C:\Users\Lizzy\Documents\Programming Stuff\Ruby on Rails\Ship_Site\app\assets\images\Anti-Possession_Tattoo.png" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Supernatural</h4>
            <!-- <span class="text-muted">Something else</span> -->
          </div>
          <div class="col-xs-6 col-sm-3 placeholder">
            <img src="C:\Users\Lizzy\Documents\Programming Stuff\Ruby on Rails\Ship_Site\app\assets\images\sherlock on london background.png" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Sherlock</h4>
            <!-- <span class="text-muted">Something else</span> -->
          </div>
           <div class="col-xs-6 col-sm-3 placeholder">
            <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <!-- <span class="text-muted">Something else</span> -->
          </div>
        </div>

        <h2 class="sub-header">OTPs</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th># of People Friendshipping It</th>
                <th>Friendship</th>
                <th>Fandom</th>
                <th>Person A</th>
                <th>Person B</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1,001</td>
                <td>Ten & Donna</td>
                <td>Doctor Who</td>
                <td>10th Doctor</td>
                <td>Donna Noble</td>
              </tr>
              <tr>
                <td>1,002</td>
                <td>amet</td>
                <td>consectetur</td>
                <td>adipiscing</td>
                <td>elit</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>